html, body {
background: #000;
font-family: sans-serif;
background-color: #000000;
margin:0;
padding:0;
}
p {
color: #f97520;
}
a[href] {
color: White;
}
.smallspace {
margin-top: 50px;
}
.mediumspace {
margin-top: 100px;
}
.largespace {
margin-top: 150px;
}



