html, body {
background-color: black;
z-index: 0;
font-family: sans-serif;
margin:0;
padding:0;
}
p {
color: #f97520;
}
a[href] {
color: White;
}
.smallspace {
margin-top: 50px;
}
.mediumspace {
margin-top: 100px;
}
.largespace {
margin-top: 150px;
}
tr {
color: #f97520;
}